<h1>Edit landmark:</h1>
<form action="/landmarks/<%= @landmark.id %>" method="post">
<input type="hidden" name="_method" value="patch">
	<label>Name:</label>
	<input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">
	<br><br>
	
	<label for="">Year Completed:</label>
	<input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %> ">
	<br><br>
	
	<br><br>
	<input type="submit" value="Edit Landmark">
	<br><br>
</form>

<form action="/landmarks/<%= @landmark.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete Landmark">
</form>	