<h1>Create new landmark:</h1>
<form action="/landmarks" method="post">
	<label>Name:</label>
	<input type="text" name="landmark[name]" id="landmark_name">
	<br><br>
	
	<label for="">Year Completed:</label>
	<input type="text" name="landmark[year_completed]" id="landmark_year_completed">
	<br><br>
	
	<br><br>
	<input type="submit" value="Create New Landmark">
</form>